<h1> Créer un nouvel utilisateur </h1>

<%= form_tag (users_path) do %>
 
<%= render 'form' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p> <%= submit_tag 'Je crée un utilisateur', class: "btn btn-primary"%></p>

  </div>
</div>



<% end %>